@media screen and (max-width: 700px) {
  :root {
    --nav-height: 50px;
    --nav-background: #111;
  }
  .logo{
    margin-left: 10px;
  }
  .nav-links{
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    width: 200px;
    height: 100%;
    background: var(--nav-background);
    margin-top: 49px;
    transition: 0.5s ease-out;
  }
  .nav-links li{
    height: var(--nav-height);
    line-height: var(--nav-height);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    display: block;
  }
  .menu{
    display: block;
    margin-top: 15px;
    margin-right: 20px;
  }
  .menu.toggle + .nav-links{
    transform: translateX(-100%);
  }
  .title img{
    width: 100px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .title h1{
    padding-bottom: 15px;
    font-size: 30px;
  }
  .profile h1{
    font-size: 25px;
  }
  .profile p{
    font-size: 15px;
  }
  footer{
    padding: 20px 0;
  }
  .footer-left{
    margin: 0 0 0 20px;
  }
  .footer-right p{
    font-size: 12px;
    padding: 5px 20px 5px 0;
  }
}